*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: #000;
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin:10px;
    text-shadow: 2px 1px 2px black;
}
h3{
    font-size: 25px;
    font-weight: 400;
    text-shadow: 2px 1px 2px black;
}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.container>div{
    height:200px;
    transition: all 0.3s ease-in;
   

    
}
.container > div:hover{
opacity: 0.7;
transform: scale(0.98); 
}
    

/*.container>div:nth-of-type(2){
    grid-column: 2/5;
}

.container>div:nth-of-type(4){
    grid-column: 1/3;
}
.container>div:nth-of-type(5){
    grid-column: 3/5;
}
.container>div:nth-of-type(9){
    grid-column: 3/6;
}*/
/*.backgroundImage{
    background: url(/projektzaliczeniowystronawww/assets/editedbackground.jpg)
}
.backgroundImage2{
    background: url(/projektzaliczeniowystronawww/assets/editedbackground2.jpg)
}
.backgroundImage3{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in;
    background-color: darkgray;
}
.backgroundImage3:hover{
opacity: 0.7;
transform: scale(0.98);
}*/
.topNav {
    background-color: #e30038;
    color:#fff;
    width:100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    display: flex;
  }
  .topNav a {
    color: #fff;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 35px;
    width:100%;
    transition: all 0.2s ease-in-out;
  }
  .topNav a:hover {
    background-color: #cb0032;
    color:#fff;
    
  }
  .topNav a.active {
    background-color: #ff124c;
    color: #fff;
  }
  .separatorNavTop{
    background-image: url(/projektzaliczeniowystronawww/assets/separatormenu.jpg);
    width:10px;
    background-repeat:repeat-y;
    float:right;
  }
  .pixelLine{
      background-image: url(/projektzaliczeniowystronawww/assets/pixelline.jpg);
      background-repeat: repeat-x;
      width: 100%;
      height: 4px;
      margin-bottom: 10px;
  }
  
  footer{
      background-color:#e30038 ;
      width:100%;
      height:100%;
     
      display: grid;
      grid-template-columns: repeat(3,1fr);
   
      
  }
  .bottomLeft{
   padding:15px;   
    
      
  }
  .bottomMiddle{
    
    padding:15px;
   
}
.bottomRight{
    
    padding:15px;

    
}
  .separatorRight{
    background-image: url(/projektzaliczeniowystronawww/assets/separatormenu.jpg);
    background-repeat: repeat-y;
    width:2px;
    min-height: 10px;
    height:80%;
    float:right;
    margin-left:20px;
  }
  .pixelLineFooter{
    background-image: url(/projektzaliczeniowystronawww/assets/pixellinereverside.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    margin-top: 10px;
  }

  .bottomRightNav {
    background-color: #e30038;
    color:#fff;
    width:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: thick;
    
  }
  .bottomRightNav a {
    color: #fff;
    text-align: left;
    padding: 2px;
    text-decoration: none;
    font-size: 16px;
    width:100%;
    padding:5px;
    transition: all 0.2s ease-in-out;
    
    
  }
  .bottomRightNav a:hover {
    background-color: #cb0032;
    color:#fff;
    
  }
  .bottomRightNav a.active {
    
    color: #fff;
  }
  .bottomRightNavName{
      font-size: 20px;
      text-shadow: 2px 1px 0px #930024;
      margin-bottom: 5px;

  }
  .bottomLeftCompanyDetails{
      padding-left: 15px;;
  }
.icon{
    width: 10vh;
}
.squareWithLogo{
    height: 200px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.socialIcon{
    width:50px;
    margin:5px;
}
.backgroundImage1{
  background: url(/projektzaliczeniowystronawww/assets/fot1.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage2{
  background: url(/projektzaliczeniowystronawww/assets/fot2.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage3{
  background: url(/projektzaliczeniowystronawww/assets/fot3.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage4{
  background: url(/projektzaliczeniowystronawww/assets/fot4.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage5{
  background: url(/projektzaliczeniowystronawww/assets/fot5.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage6{
  background: url(/projektzaliczeniowystronawww/assets/fot6.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage7{
  background: url(/projektzaliczeniowystronawww/assets/fot7.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage8{
  background: url(/projektzaliczeniowystronawww/assets/fot8.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage9{
  background: url(/projektzaliczeniowystronawww/assets/fot9.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage10{
  background: url(/projektzaliczeniowystronawww/assets/fot10.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage11{
  background: url(/projektzaliczeniowystronawww/assets/fot11.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage12{
  background: url(/projektzaliczeniowystronawww/assets/fot12.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage13{
  background: url(/projektzaliczeniowystronawww/assets/fot13.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage14{
  background: url(/projektzaliczeniowystronawww/assets/fot14.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage15{
  background: url(/projektzaliczeniowystronawww/assets/fot15.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage16{
  background: url(/projektzaliczeniowystronawww/assets/fot16.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}
.backgroundImage17{
  background: url(/projektzaliczeniowystronawww/assets/fot17.jpg);
  background-size: cover!important;
  background-position-y: inherit!important;
}

@media all and (max-width:769px){
  body{
    font-size:14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.container>div{
  
 height: 200px;
 overflow: auto;
}
.socialIcon{
  width:35px;
  margin:5px;
}
.topNav a {
  color: #fff;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 20px;
  width:100%;
  transition: all 0.2s ease-in-out;
}

}
@media all and (max-width:425px){
  body{
    font-size:13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
}
.container>div{
  
 height: 300px;
 overflow: auto;
}
.socialIcon{
  width:35px;
  margin:5px;
}
footer{
  background-color:#e30038 ;
  width:100%;
  height:100%;
 
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.topNav {
  background-color: #e30038;
  color:#fff;
  width:100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction:column ;
}
.topNav a {
  color: #fff;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 16px;
  width:100%;
  transition: all 0.2s ease-in-out;
}
.topNav a:hover {
  background-color: #cb0032;
  color:#fff;
  
}
.topNav a.active {
  background-color: #ff124c;
  color: #fff;
}
.separatorRight{
  background-image:"";
  background-repeat: repeat-y;
  width:0px;
  min-height: 10px;
  height:80%;
  float:right;
  
}
.separatorNavTop{
  background-image: url(/projektzaliczeniowystronawww/assets/separatormenuhorizontal.jpg);
  height: 2px;
  background-repeat: repeat-x;
  width: 100%;
}
}